@keyframes bounce1 {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(20px, -20px); }
}

@keyframes bounce2 {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(-20px, -20px); }
}

@keyframes bounce3 {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(0, 20px); }
}

/* Glow Effect */
.glow {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
              0 0 20px rgba(255, 255, 255, 0.5),
              0 0 30px rgba(255, 255, 255, 0.7);
}




.animate-bounce1 {
  animation: bounce1 2s ease-in-out infinite;
}
.animate-bounce2 {
  animation: bounce2 2s ease-in-out infinite;
}
.animate-bounce3 {
  animation: bounce3 2s ease-in-out infinite;
}